@tailwind base;
@tailwind components;
@tailwind utilities;

.border-animation {
    transition-property: border-color;
    transition-duration: .3s;
}

.bg-hover {
    @apply hover:bg-[#e3e5e7] duration-300 rounded-sm p-1 box-content hover:cursor-pointer;
}

.pre-btn-ok {
    @apply bg-[#e3e5e7] duration-300;
}

.nav-link {
    @apply pb-2 box-border font-bold;
}


.active-btn {
    @apply text-primary font-bold;
}

@font-face {
    font-family: 'memo';
    src: url('../assets/font/JetBrainsMono-VariableFont_wght.ttf') format('truetype');

}

body {
    font-family: 'memo', sans-serif;
}